.dashboard {
  padding: 5px;
  @include flexbox();
  @include flex-direction();
  @include flex-wrap( wrap );
  @include justify-content( space-between );
  @include align-items();
  @include font-comforta-reg();

  &:after {
    display: none;
  }

  .dashboard__header {
    display: none;
    background: #ffffff;
    border: 1px solid #dddddd;
    width: 17.3%;
    padding: 29px 0 0 0;
  }
  .dashboard__content {
    background: #ffffff;
    border: 1px solid #dddddd;
    width: 100%;
    padding: 21px 19px;
  }
  .dashboard__user {
    padding: 0 0 30px;
    margin: 0 0 30px;
    border-bottom: 2px solid #f1f1f1;
    text-align: center;
  }
  .dashboard__user-avatar {
    width: 88px;
    height: 88px;
    margin: 0 auto 27px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

  }
  .dashboard__user-mail {
    display: block;
    color: #434040;
    font-size: 16px;
    line-height: 18px;
  }
  .dashboard__menu {
    padding: 0 0 0 24px;

    a {
      display: block;
      position: relative;
      margin: 0 0 24px;
      padding: 0 0 0 50px;
      text-transform: uppercase;
      color: #434040;
      font-size: 15px;
      line-height: 17px;

      &:after {
        position: absolute;
        top: 50%;
        left: 3px;
        width: 19px;
        height: 15px;
        background: url("../img/dashboard-menu-icons.png") no-repeat;
        background-size: 19px 140px;
        content: '';
        transform: translateY(-50%);
      }

      &:nth-child(2) {

        &:after {
          background-position: center -41px;
        }

      }
      &:nth-child(3) {

        &:after {
          background-position: center -84px;
        }

      }
      &:nth-child(4) {

        &:after {
          background-position: center -125px;
        }

      }

      &:hover,
      &.active {
        color: #ff7777;
      }
    }

  }
  .dashboard__settings {

    label {
      display: block;
      margin: 0 0 10px;
      color: #9b9999;
      font-size: 24px;
      line-height: 27px;
    }

    input[type='text'],
    input[type='password'],
    input[type='email']{
      padding: 20px 0 37px;
      border: none;
      border-bottom: 2px solid #f1f1f1;
      background: #fff;
      color: #434040;
      font-size: 30px;
      line-height: 30px;
      @include font-comforta-bold();
    }

  }
  .dashboard__inner {}

}
