.nice-checkbox {

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label:after {
      opacity: 1;
    }

  }
  label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #434040;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include font-comforta-bold();

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      top: 3px;
      left: -38px;
    }
    &:before {
      border: 2px solid #9c9c9c;
      border-radius: 3px;
    }
    &:after {
      background: url("../img/tick.svg ");
      background-size: cover;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
      top: 5px;
      left: -36px;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .nice-checkbox {

    input {

      &:checked + label:after {}

    }
    label {
      font-size: 15px;
      margin-right: 20px;
      color: #8f8e8f;

      &:before,
      &:after {
        left: auto;
        right: -15px;
        top: 2px;
      }
      &:before {}
      &:after {
        right: -13px;
        top: 4px;
      }

    }

  }

}

@media (min-width: $tablet-landscape) {

  .nice-checkbox {

    input {

      &:checked + label:after {}

    }
    label {

      &:before,
      &:after {}
      &:before {}
      &:after {}

    }

  }

}

@media (min-width: $desktop) {

  .nice-checkbox {

    input {

      &:checked + label:after {}

    }
    label {

      &:before,
      &:after {}
      &:before {}
      &:after {}

    }

  }

}