.nice-checkbox {

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label:after {
      opacity: 1;
    }

  }
  label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #434040;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 22px;
    @include font-comforta-bold();

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      top: 3px;
      right: -22px;
    }
    &:before {
      border: 2px solid #9c9c9c;
      border-radius: 3px;
    }
    &:after {
      background: url("../img/tick.svg ");
      background-size: cover;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
      top: 5px;
      right: -20px;
    }

  }

}