.search-icon {

  input {
    width: 100%;
    height: 60px;
    margin-bottom: 25px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    background: #fff;
    font-size: 30px;
    color: #434040;
    text-align: center;
    @include font-reg-it();
  }

  button[type=submit] {
    display: none;
  }

  &_2 {
    margin-bottom: 33px;

    input {
      height: 30px;
      margin-bottom: 0;
      padding: 0 19px;
      letter-spacing: 1px;
      border: 1px solid #ddd;
      font-size: 12px;
      -webkit-transition: border 0.3s ease, color 0.3s ease;
      transition: border 0.3s ease, color 0.3s ease;
      text-align: left;

      &:focus {
        border-color: #000;
        color: #000;
      }

    }

  }

}

@media (min-width: $phone-landscape) {
  .search-icon {

  }
}
@media (min-width: $tablet-portrait) {
  .search-icon {

  }
}
@media (min-width: $tablet-landscape) {
  .search-icon {

  }
}
@media (min-width: $desktop) {
  .search-icon {

  }
}