body {
  @include font-reg();
}

.site {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  background: #f1f1f1;
  color: #434040;

  .site__header {
    position: relative;
    height: 100px;
    z-index: 3;
  }

  .site__header-layout{

  }

  .site__content {
    position: relative;
    padding: 0 10px;
    z-index: 2;
  }

  .site__footer {
    position: relative;
    padding: 10px 10px;
    background: #fff;
    border-top: 1px solid #e4e4e4;
    font-size: 15px;
    color: #8c8c8c;
    text-align: center;
  }

  .site__footer-copyright {
    display: block;
    padding: 0 0 10px;
  }

  .site__footer-mail {
    display: inline-block;
    position: relative;
    font-size: 15px;
    color: #8c8c8c;
    transition: color .3s ease-in-out;

    &:after {
      display: block;
      @include absoluteCenterX();
      bottom: -1px;
      width: 0;
      height: 1px;
      background: #d40000;
      content: '';
      transition: width .3s ease-in-out;
    }

    &:hover {
      color: #d40000;

      &:after { width: 100%; }
    }
  }
}

@media (min-width: $phone-landscape) {
  .site {

  }
}

@media (min-width: $tablet-portrait) {

  .site {
    @include justify;
    &:after { height: 137px; }

    .site__footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 137px;
      text-align: left;
    }

    .site__footer-item {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .site__footer-copyright { padding: 0; }
  }

}

@media (min-width: $tablet-landscape) {
  .site {

  }
}

@media (min-width: $desktop) {
  .site {

    .site__content {
      padding: 0 60px;
    }

    .site__footer {
      padding: 0 60px;
    }
  }
}

