body {
  @include font-reg();
}
.site {
  @include justify;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  background: #f1f1f1;

  &:after {
    height: 137px;
  }

  .site__header {
    position: relative;
    height: 100px;
    z-index: 3;
  }

  .site__content {
    position: relative;
    max-width: 420px;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 2;
  }

  .site__footer {
    position: relative;
    height: 137px;
    padding: 10px 10px;
    background: #fff;
    border-top: 1px solid #e4e4e4;
    font-size: 15px;
    color: #8c8c8c;
  }

  .site__footer-copyright {
    display: block;
  }

  .site__footer-mail {
    font-size: 15px;
    color: #8c8c8c;
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {
    padding: 0 60px;
  }
}

