.social {
//  display: flex;
//  justify-content: space-between;
  margin-bottom: 10px;
  cursor: default;

  .social__item {
    display: inline-block;
    width: 33px;
    height: 33px;
    margin-left: 10px;

    &:first-child {
      margin: 0;
    }

    svg {
      width: 100%;
      fill: #434040;
      transition: fill .3s ease-in-out;
    }

    &:hover svg { fill: #d40000; }
  }
}