@font-face {
  font-family: "brandon_reg";
  src: url("../../fonts/brandon_reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_reg_it";
  src: url("../../fonts/brandon_reg_it.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_thin";
  src: url("../../fonts/brandon_thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_bld";
  src: url("../../fonts/brandon_bld.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_blk";
  src: url("../../fonts/brandon_blk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_light";
  src: url("../../fonts/brandon_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_med";
  src: url("../../fonts/brandon_med.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}